@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Medium';
}

html {
    overflow-y: auto;
}
